
$gray-900: #3F3F3F;
$dark: $gray-900;
$table-dark-bg: $dark;
$white: #fff;
$table-dark-border-color: $white;
$enable-rounded: false;
$green: #61B732;
$primary: $green;
$orange: rgb(245, 121, 2);
$secondary: $orange;
$blue: #0083C7;
$yellow: #FFDD00;
$red: #E34348;
$cyan: #674C1D;
$gray-100: #F4F4F4;
$success: $blue;
$gray-400: #dddddd;
$gray-700: #7A7A7A;
$font-family-sans-serif: Fira Sans;
$font-family-base: $font-family-sans-serif;
$font-family-monospace: Fira Mono;
$table-border-color: $gray-400;
$table-accent-bg: $gray-100;
$breadcrumb-divider: ">";
$breadcrumb-active-color: $primary;
$breadcrumb-bg: $white;
$font-weight-light: 200;
$font-weight-normal: 400;
$enable-shadows: true;
$border-width: 0px;
$table-border-width: 1px;
$tooltip-bg: $dark;
$popover-header-bg: $dark;
$popover-header-color: $white;
$list-group-border-width: 1px;
$list-group-border-color: $gray-400;
$carousel-control-color: $white;
$carousel-control-width: 15%;
$carousel-indicator-height: 3px;
$carousel-indicator-width: 5px;
$carousel-control-icon-width: 40px;
$modal-content-box-shadow-sm-up: 2px 2px 6px 0 rgba(0,0,0,0.25);
$modal-content-box-shadow-xs: 2px 2px 6px 0 rgba(0,0,0,0.25);
$navbar-dark-hover-color: $white;
$light: $gray-100;
$navbar-dark-color: $light;
$navbar-light-color: $dark;
$navbar-light-active-color: $dark;
$navbar-light-hover-color: $dark;
$btn-box-shadow: none;
$btn-active-box-shadow: none;