/* CUSTOM Styles for Cards
Cards werden für die Personas benutzt, die es in zwei Formen – waagerecht und senkrecht gibt.
Cards werden als allgemeine Inhaltscontainer benutzt, um Content herauszustellen.
Cards werden für die Preislisten benutzt.
 */

.persona-phone, .persona-mail {
    margin-bottom: 0;
    display: block;
}

.card h2 {
    font-size: 1.4em;
}

.card-news-two h2, .card-news-three h2 {
    margin-top: 0.5rem;
}


/* PERSONAS */
.card.card-person.col-6,
.card.card-touren.col-6{
    padding: 0;
}

.card-person .row,
.card-touren .row {
    margin: 25px;
}

.card-person .col-4,
.card-touren .col-4 {
    padding-left: 0px;
    padding-right: 0px;
}

.box-person .card-title {
    padding: 25px;
}

.card-person img,
.box-person img,
.card-touren img {
    box-shadow: 2px 5px 5px rgba(0,0,0,0.25);
}

.card-person .person-name, .card-person .person-title,
.box-person .person-name, .box-person .person-title,
.card-touren .person-name, .card-person .person-title {
    font-weight: 500;
    letter-spacing: 0.3px;
    display: block;
}

.box-person .person-name, .box-person .person-title {
    text-align: center;
}

.box-person .person-name {
    margin-top: 20px;
}

.card-person .person-title,
.box-person .person-title,
.card-touren .person-title {
    font-weight: 200;
}

.card-person p,
.box-person p {
    line-height: 1.2;
}

.bg-success .person-name,
.bg-primary .person-name,
.bg-dark .person-name,
.bg-success .person-title,
.bg-primary .person-title,
.bg-dark .person-title {
    color: #fff;
}


.person-primary p {
    border-top: 2px solid #61B732;
}

.person-success p {
    border-top: 2px solid #0083C7;
}

.card-person .bg-primary {
    border-top: 2px solid #FFF;
}


/* INFO */
.card .bg-primary,
.card .bg-success,
.card .bg-dark {
    color: #fff;
}

/* PRICE */
.card-price .card-header {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    text-align: center;
}

.price-body {
    background: #fff;
    position: relative;
    top: -30px;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.3em;
}

.price {
    text-align: center;
    font-size: 2.2em;
    font-weight: 500;
    display: block;
    padding: 1em 0 1em 0;
}


/* TOUR */
.tour-list {}

.tour-list .card-header {
    background: #61B732;
    color: #fff;
}

.tour-list i {
    color: #fff;
}

.tour-date {
    width: 58px;
    height: 58px;
    border: none;
    background: #fff;
    padding: 0;
}

.tour-day {
    display: block;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 100%;
    padding: 0;
}

.tour-month {

}


/* WIDGET */

.card-widget-primary-news,
.card-widget-dark-news,
.card-widget-light-news {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-widget-primary-news ul,
.card-widget-light-news ul,
.card-widget-dark-news ul,
.card-widget-primary .card-body ul,
.card-widget-light .card-body ul,
.card-widget-dark .card-body ul{
    list-style: none;
    padding-left: 0;
}

.card-widget-primary .list-group-item {
    padding-left: 0;
    padding-right: 0;
}

.card-widget-header {
    margin: -1.25rem;
    margin-bottom: 1.25rem;
}

