@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?yoil0x');
  src:  url('../fonts/icomoon.eot?yoil0x#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?yoil0x') format('truetype'),
    url('../fonts/icomoon.woff?yoil0x') format('woff'),
    url('../fonts/icomoon.svg?yoil0x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon, .icon:hover, .icon:active, .icon:visited {
  width: 58px;
  height: 58px;
  font-size: 3em;
  background: #fff;
  border: none;
  line-height: 110%;
  vertical-align: top;
  margin-right: 10px;
}

.icon-hiking:before {
  content: "\e900";
}
.icon-climbing:before {
  content: "\e901";
}
.icon-skiing:before {
  content: "\e902";
}
.icon-alpine:before {
  content: "\e903";
}
.icon-mountainbiking:before {
  content: "\e904";
}
.icon-kayaking:before {
  content: "\e905";
}
